* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Amatic SC";

}

html {
    font-size: 62.5%;
}


.container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    max-width: 1400px;
    min-width: 600px;
}

.calendar{
    border: 3px solid black;
    width: 40%;
    height: 60rem;
    box-shadow: 0px 10px 58px rgba(0, 0, 0, 0.7);
}

.month {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
    background-color: #14adbd;
    padding: 0 10% 0 10%;
    text-align: center;
}

.month h1 {
    font-size: 400%;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    height: 20%;
    width: 6%;
    padding: 3px;
    cursor: pointer;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.weekdays {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    padding: 2px;
}

.weekdays div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 300%;
    font-weight: bold;
    letter-spacing: 1px;
    width: 20%;
}

.days {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 10%;
    padding: 2px;
}

.days div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 300%;
    font-weight: 500;
    margin: 1.1%;
    width: 12%;
    height: 60px;
}


.today {
    background-color: #1451bd;
    border-radius: 4px;
}

.holiday {
    border: solid red;
    border-radius: 4px;
}

@media only screen and (max-width: 850px) {
    .month h1 {
        font-size: 350%;
        padding: 0;
    }
    .arrow {
        height: 15%;
        width: 5%;
        padding: 0px;
    }

    .calendar {
        width: 60%;
    }
}
